<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cookbook{% endblock %}</title>
</head>
<body>

 <!-- Header -->
    <header style="display:flex; justify-content:space-between; align-items:center; padding:5px; background:#f5f5f5; border-bottom:1px solid #ddd;">
        <div class="logo">
            <h1  style="text-decoration:none; font-weight:bold; font-size:2rem;">👨🏼‍🍳Cookbook</h1>
        </div>

        <!-- User actions -->
        <div class="user-actions">
            {% if user.is_authenticated %}
                Hi, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a>
                <br>
                
                
            {% else %}
                <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </header>
    <nav>
        <a href="{% url 'create_recipe' %}">Write a recipe</a>
        <a href="{% url 'my_cookbooks' %}">   My Cookbook</a>
    </nav>


{% block content %}{% endblock %}

</body>
</html>
