{% extends 'base.html' %}
{% load static %}
<head>
{% block extra_css %}
<link rel="stylesheet" href="{% static 'Recipe/css/create_recipe.css' %}">
{% endblock %}
</head>
{% block content %}
<div class="head">
</div>
<div class="recipe-page">
    <form method="post" enctype="multipart/form-data" id="recipeForm">
        {% csrf_token %}
        <div class="recipe-flex">

            <!-- LEFT SIDE -->
            <div class="recipe-left">

                <!-- Title -->
                <div class="recipe-title">
                    {{ form.title }}
                </div>

                <br>

                <!-- Tag-->
                <label>Tags:</label>
                <select name="tags" class="tag-select" multiple>
                    {% for tag in popular_tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>

                <br>

                <!-- Description -->
                <div class="recipe-description">
                    <label>Description:</label>
                    {{ form.description }}
                </div>

                <div class="new-section">
                    <!-- Visibility -->
                    <div class="card-small-card">
                        {{ form.visibility }}
                    </div>
                    <!-- Servings -->
                    <div class="servings">
                        <label>Makes
                        {{ form.number_of_servings }} Servings </label>
                    </div>
                </div>
                <br>
                <!-- Chef Notes -->
                <div class="chef-notes">
                    <label>Chef's Notes:</label>
                    {{ form.chefs_note }}
                </div>
                <br>
  
            </div>

            <!-- RIGHT SIDE IMAGE -->
            <div class="recipe-right">
                <div class="upload-container">
                    
                    <label for="id_image" class="upload-box">
                        <div class="upload-content">
                            <div class="plus-icon">+</div>
                            <p>Add Recipe Image</p>
                        </div>
                        <img id="image-preview" class="preview-img" />
                    </label>

                    {{ form.image }}

                </div>
            </div>

        </div>

        <!-- Ingredients Section -->
        <div class="section-card">
            <h3>Ingredients:</h3>
            {{ ingredient_formset.management_form }}
            <div id="ingredient-container">
                {% for form in ingredient_formset %}
                <div class="ingredient-form">
                    <span class="ingredient-number"></span>
                    {{ form.name }}
                    {{ form.quantity }}
                    {{ form.unit }}
                    <button type="button" class="remove-ingredient">&times;</button>
                </div>
                {% endfor %}
            </div>
            <button type="button" id="add-ingredient" class="add-btn">+ Add Ingredient</button>
        </div>

        <!-- Steps Section -->
        <div class="section-card">
            <h3>Steps:</h3>
            {{ step_formset.management_form }}
            <div id="step-container">
                {% for form in step_formset %}
                <div class="step-form">
                    <span class="step-number"></span>
                    {{ form.instruction }}
                    <div class="step-image-box">
                        <label class="step-upload-label">
                            {{ form.image }}
                            <div class="upload-placeholder">
                                ➕ Add Step Image
                            </div>
                            <img class="step-preview">
                        </label>
                    </div>
                    <div style="display:none;">{{ form.DELETE }}</div>
                    <button type="button" class="remove-step">&times;</button>
                </div>
                {% endfor %}
            </div>
            <button type="button" id="add-step" class="add-btn">+ Add Step</button>
        </div>
        <div class="head">
            <button type="submit" class="save-btn">SAVE RECIPE</button>
        </div>
        <!-- Save Button -->
        <button type="submit" class="save-btn">SAVE RECIPE</button>

    </form>
</div>

<!-- Empty form template for steps (cloning) -->
<div id="empty-step-form" style="display:none;">
    <div class="step-form">
        <span class="step-number"></span>
        {{ step_formset.empty_form.instruction }}
        <div class="step-image-box">
            <label class="step-upload-label">
            {{ step_formset.empty_form.image }}
                <div class="upload-placeholder">
                    ➕ Add Step Image
                </div>
                <img class="step-preview">
            </label>
        </div>
        <div style="display:none;">{{ step_formset.empty_form.DELETE }}</div>
        <button type="button" class="remove-step">&times;</button>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="{% static 'Recipe/js/create_recipe.js' %}"></script>




{% endblock %}
