{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{{ recipe.title }}</h1>
<p>{{ recipe.description }}</p>



<!-- SERVINGS -->
<label for="personsInput"><strong>Persons:</strong></label>
<input type="number"
       id="personsInput"
       value="{{ recipe.number_of_servings }}"
       data-base="{{ recipe.number_of_servings }}"
       min="1"
       step="0.1">

<br><br>
<small>Created on: {{ recipe.created_at }}</small>



<!-- INGREDIENTS -->
<h2>Ingredients</h2>

<ol id="ingredientsList">
{% for ing in ingredients %}
    <li class="ingredient"
        data-base="{{ ing.quantity }}">

        <p>{{ ing.name }}:
        <input type="number"
               class="ingredient-input"
               value="{{ ing.quantity }}"
               min="0"
               step="0.01">
        {{ ing.unit }}</p> 

    </li>
{% endfor %}
</ol>



<!-- STEPS -->
<h2>Steps</h2>
<ol>
    {% for step in steps %}
        <li>{{ step.instruction }}</li>
    {% empty %}
        <li>No steps added.</li>
    {% endfor %}
</ol>

<!-- JS -->
<script src="{% static 'Recipe/js/detail.js' %}"></script>

{% endblock %}
